.contact {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 3rem;
  .image {
    flex: 1 1 40rem;
    img {
      width: 100%;
    }
  }
  form {
    flex: 1 1 40rem;
    padding: 2rem 7%;
    .btn {
      @include form-btn();
    }
    h3 {
      font-size: 3rem;
      padding-bottom: 1rem;
      color: #000;
    }
    .box,
    textarea {
      width: 100%;
      border-bottom: 1px solid #000;
      border-width: 0.1rem;
      font-size: 1.6rem;
      text-transform: none;
      color: #000;
      padding: 1.5rem 0;
      margin: 1rem 0;
    }
    textarea {
      height: 15rem;
      resize: none;
    }
  }
}
